.form_save-button{
    background-color: black;
    width: 358px;
    height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 18px;
}

.form_save-button:hover{
    opacity: 0.8;
}

@media (max-width: 470px){
    .form_save-button{
        max-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}