.profile_name{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* or 114% */
    color: #FFFFFF;
    margin: 0;
    margin-right: 18px;
}

@media screen and (max-width: 879px){
    .profile_name{
        font-size: 27px;
        line-height: 33px;
        margin-right: 10px;
        margin-left: 46px;
    }

}